* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --box-background-color: #282a2e;
  /* --text-color: #ced4e2; */
  --text-color: #000;
  --svg-color: #757575;
}

@font-face {
  font-family: Roboto;
  src: url(/src/font/Roboto-Regular.ttf);
}

body {
  overflow: hidden;
  /* background: #242428; */
  color: var(--text-color);
  height: 100%;
  width: 100vw;
  max-width: 800px;
  margin-inline: auto;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  user-select: none;
}

/* MAIN PAGE */

.dhikr-type-wrap {
  position: relative;
  /* background: #3949ab; */
  padding-top: 7vh;
  text-align: center;
  font-size: 2rem;
  padding: 5rem 0 5rem 0;
}

.dhikr-type-wrap h1 {
  margin-bottom: 1rem;
}

.active-counter-name,
.active-counter-number {
  color: white;
}

.active-counter-number {
  position: absolute;
  left: 50%;
  top: 34%;
  /* border: 1px solid white; */
  /* border-radius: 50vw; */
  /* padding: 3rem; */
  transform: translate(-50%, 50%);
  /* background: white; */
  /* color: var(--svg-color); */
  color: black;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* z-index: 1; */
}

/* .dhikr-type-wrap::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -63px;
  right: 0;
  height: 25px;
  background: #fff;
  padding: 2rem;
  background-size: cover;
  transform: skewY(-7deg);
} */

.plus-svg-wrap {
  margin-top: 25vh;
  line-height: 0vw;
  color: #ced4e2;
  text-align: center;
}

.plus-svg {
  /* width: clamp(11.375rem, 5.625rem + 20vw, 16.875rem); */
  width: 40vw;
  fill: var(--svg-color);
  cursor: pointer;
  animation: fadeInUp 1000ms forwards;
}

/* COUNTERS PAGE */

.counters-wrap {
  max-height: 75vh;
  overflow: scroll;
}

.counter {
  width: 70%;
  padding-right: 0.5rem;
  /* display: flex;
  justify-content: space-between; */
  word-wrap: anywhere;
}

.stats-and-icons-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.counter-page-single-counter {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  /* background: #9395d3; */
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-btn {
  position: absolute;
  padding: 1rem;
  right: 10%;
  bottom: 12%;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background: #dbdddf;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-box-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: grey;
}

.pop-up-box-wrap input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.pop-up-box-wrap button {
  color: #fff;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 0.5rem;
  background: transparent;
}

/* SETTINGS PAGE */

.theme-selection-wrap {
  margin-top: 3rem;

  padding: 1rem;
}

.theme-selection-wrap > * {
  padding: 1rem;
}

.theme-blocks-container {
  display: flex;
  justify-content: space-around;
}

.white-theme-block,
.black-theme-block {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.white-theme-block {
  background-color: #fff;
}

.black-theme-block {
  background-color: #000;
}

/* HEADER */

.header-wrap {
  text-align: left;
  background: #2176ff;
  padding: 1rem;
}

/* NAVBAR */

.navbar-wrap {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #fff;
  padding: 0.5rem 0;
  box-shadow: 10px 5px 5px red;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0.5rem;
}

.nav-icon {
  font-size: 1.5rem;
  fill: var(--svg-color);
}

/* @keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
} */

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --size: 10rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  /* animation: growProgressBar 3s 1 forwards; */
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 10%), var(--bg) 0);

  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg); */
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage);
}

.target-text {
  position: absolute;
  left: 50%;
  font-size: 0.7rem;
  top: 250px;
  transform: translateX(-50%);
}
