@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --md-sys-surface: var(--body-bg-color);
  --md-sys-on-surface: var(--text-color, inherit);
  --md-sys-color-primary: transparent;
  --md-sys-color-secondary: transparent;
  --md-sys-color-surface: transparent;
  --md-sys-color-on-primary: inherit;
  --md-sys-color-on-surface: inherit; */
  /* --body-bg-color: #f2f1f6; */
  /* --body-bg-color: #f4f4f4; */
  --ion-text-color: rgb(0, 0, 0);
  --body-bg-color: rgb(237, 237, 237);
  --svg-color: #757575;
  --ion-background-color: rgb(237, 237, 237);
  --background: rgb(237, 237, 237); /* fallback */
  /* --header-and-nav-bg-color: #f4f4f4; */
  --header-bg-color: rgb(237, 237, 237);
  --nav-bg-color: rgb(242, 242, 242);
  --nav-border-color: #e2e2e2;
  --text-color: #000;
  --nav-tab-color: #373737;
  --nav-active-tab-color: #3880ff;
  /* --text-color-secondary: #ffffff; */
  --toast-bg-color: #262626;
  --toast-text-color: #fff;
  --setings-page-boxes-bg-color: #f7f7f7;
  --settings-page-borders: #e3e3e3;
  --counters-page-single-counter-box-shadow: 0 8px 15px rgb(0 0 0 / 30%);
  /* --border-header-and-nav: #d5d5d5; */
  --border-header-and-nav: none;
  --border-form: #d5d5d5;
  --form-wrap-bg-color: #f4f4f4;
  --form-input-bg-color: rgba(197, 197, 197, 0.5);
  --form-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
  --settings-page-box-shadow: 0 0px 5px 0 rgba(132, 132, 132, 0.2);
}

/* DARK MODE */

body.dark {
  /* Dark mode variables go here */
  --ion-text-color: rgb(255, 255, 255);
  --body-bg-color: rgb(36, 36, 36);
  --ion-background-color: var(--body-bg-color);
  --background: var(--body-bg-color);
  --nav-bg-color: #212121;
  --nav-border-color: #1f1f1f;
  --header-bg-color: #242424;
  --text-color: #fff;
  --nav-tab-color: grey;
  --nav-active-tab-color: white;
  --toast-bg-color: #d4d4d4;
  --toast-text-color: #000000;
  --setings-page-boxes-bg-color: #2f2f2f;
  --settings-page-borders: #595959;
  --svg-color: #e1e1e1;
  --counters-page-single-counter-box-shadow: none;
  /* --border-header-and-nav: #747474; */
  --border-form: #747474;
  --border-header-and-nav: none;
  /* --form-wrap-bg-color: #2f2f2f; */
  --form-wrap-bg-color: #272727;
  --form-input-bg-color: rgb(42, 42, 42);
  --form-box-shadow: none;
  --settings-page-box-shadow: none;
}

@font-face {
  font-family: Roboto;
  src: url(/src/font/Roboto-Regular.ttf);
}

*:focus {
  outline: none;
}
/* input:focus, */
button:focus {
  outline: none;
  border: none;
}

body {
  /* height: 100%; */
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: var(--text-color);
  /* width: 100%; */
  max-width: 700px;
  margin-inline: auto;
  /* font-family: Roboto, sans-serif; */
  font-family: sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--body-bg-color) !important;
}

.no-scroll {
  overflow: hidden !important;
  position: fixed; /* prevents scroll position jumping */
  width: 100%;
}

.body::-webkit-scrollbar {
  display: none;
}

.app {
  max-width: 700px;

  /* overflow: hidden; */
}

ion-toolbar {
  color: var(--ion-text-color) !important;
}

ion-item-options {
  padding-right: 0.5rem;
}

ion-item {
  --border-style: none;
  --padding-start: 0.6rem;
  --inner-padding-end: 0.6rem;
  color: var(--text-color);
  margin-inline: auto;
}

ion-item-option {
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none !important;
  --border-style: none;
}

ion-item-option::part(native) {
  padding-inline: 0.5rem;
}

.form-ion-item {
  --border-radius: 0.3rem;
}

ion-toast {
  --background: var(--toast-bg-color);
  --color: var(--toast-text-color);
}

ion-action-sheet.action-sheet {
  --background: var(--body-bg-color);
  --button-color: var(--text-color);
  --cancel-button-background: var(--body-bg-color);
  --cancel-button-color: var(--text-color);
}

ion-toolbar {
  --background: var(--body-bg-color);
  --color: white;
  /* margin-bottom: 1rem; */

  /* --border-color: #f24aec; */
  /* --border-width: 4px 0; */
  --border-style: double;

  /* --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px; */
}

ion-action-sheet.action-sheet .action-sheet-title {
  color: var(--text-color);
  opacity: 0.6;
}

ion-reorder::part(icon) {
  color: var(--text-color);
  margin-inline-start: 0.7rem;
}

ion-toggle {
  padding-left: 3rem;
  --track-background: #e1e1e1;
}

ion-modal {
  --background: var(--body-bg-color);
  color: var(--text-color);
}

ion-toast::part(button) {
  /* border-left: 1px solid #dddddd; */
  color: var(--toast-text-color);
  /* font-size: 1rem; */
}

ion-modal::part(backdrop) {
  background-color: rgba(0, 0, 0, 1) !important;
}

body.dark ion-alert {
  --ion-text-color: #fff !important;
  --background: var(--body-bg-color);
}

.modal-header-text {
  background-color: var(--body-bg-color);
  text-align: center;
  padding-top: 1rem;
  font-size: 1.4rem;
}

ion-list.ion-list-reorder-counters {
  margin-bottom: 1rem;
}

ion-list.ion-list-reorder-counters,
ion-list.ion-list-reorder-counters ion-reorder-group,
ion-list.ion-list-reorder-counters ion-item {
  --background: var(--body-bg-color) !important;
  color: var(--ion-text-color);
}

ion-tab-bar {
  /* padding-bottom: var(--ion-safe-area-bottom); */
  --background: var(--body-bg-color);
  --color: var(--nav-tab-color);
  --color-selected: var(--nav-active-tab-color);
}

ion-toggle {
  /* padding: 12px; */
  /* --track-background: #ddd;
  --track-background-checked: #555 !important;
  --handle-background: #eb7769; */
}

.modal-fit-content {
  --height: auto;
}

.modal-fit-content::part(backdrop) {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.3);
}

.item-options-ios {
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none !important;
  --border-style: none;
}

.sheet-changelog:last-child {
  margin-bottom: 6rem;
}

.changelog-individual-change-wrap {
  /* border: 1px solid var(--border-form); */
  border-bottom: 1px solid var(--border-form);
}

.ion-content-changelog-wrap p,
h1,
h2 {
  color: var(--text-color);
}

.ion-content-changelog-wrap:last-child {
  padding-bottom: 30rem !important;
}

.sheet-changelog-close-btn {
  padding: 1.5rem;
  border-radius: 0.7rem;
}

.counter-type-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.counter-type-wrap h1 {
  margin-bottom: 1rem;
}

.increment-btn {
  position: absolute;
  bottom: calc(20px + 2vh);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(230px, 85vw, 450px);
  height: clamp(230px, 85vw, 450px);
  /* margin: 5rem auto; */
  margin-inline: auto;
  border-radius: 50%;
  line-height: 0vw;
  color: #ced4e2;
  z-index: 1;
  text-align: center;
  border: none;
  box-shadow: var(--counters-page-single-counter-box-shadow);
}

.increment-btn-number-and-target-wrap {
  color: #fff;
  margin-top: 4rem;
}

.increment-btn-number {
  font-size: 8rem;
}

.increment-btn-target {
  font-size: 1.5rem;
  margin-top: 5rem;
}

/* COUNTERS PAGE */

.slide-to-reveal-options-wrap {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.counter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

MdModeEditOutline {
  text-align: center;
}

.single-counter-name-and-count-wrap {
  position: relative;
  z-index: 1;
  padding: 0.7rem 0;
}

.single-counter-wrap-parent {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23)); */
  /* For some reason the below doesn't work on main page but works on counters page */
  /* filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14)); */
}

.single-counter-wrap {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  /* border-radius: 1rem; */
  box-shadow: var(--counters-page-single-counter-box-shadow);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  position: relative;
  /* margin: 0.5rem auto 0.5rem auto; */
  /* margin-inline: auto; */
  margin: 0.5rem auto;
  /* clip-path: circle(70% at 50% 50%); */
  /* clip-path: inset(0% 0% 0% 0% round 10px); */
  clip-path: inset(0% 0% 0% 0% round 16px);
}

.active-counter {
  width: 95%;
}

/* This style is to do with turning each counter into a progress bar */
.single-counter-overlay {
  position: absolute;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.single-counter-counter-name {
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.single-counter-count {
  font-size: 0.7rem;
}

.single-counter-counter-name,
.single-counter-count {
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  font-weight: 400;
}

.reset-btn-wrap {
  margin-right: 0.7rem;
  font-size: 1.2rem;
  z-index: 10;
  background: none;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input:focus,
textarea:focus {
  /* outline: 1px solid #cecece; */
}

/* SETTINGS PAGE */

.counters-page-header svg {
  font-size: 1.7rem;
  width: clamp(4.375rem, 4.0625rem + 1.4286vw, 4.6875rem);
}

/* NAVBAR */

.target-text {
  position: absolute;
  left: 50%;
  font-size: 0.7rem;
  top: 131%;
  transform: translateX(-50%);
  color: var(--svg-color);
  z-index: 1;
}

/* FORMS */

input[type="text"],
input[type="number"] {
  /* padding: 1rem; */
  /* background: var(--form-input-bg-color); */
}

.form-wrap {
  background: var(--body-bg-color);
  width: 95%;
  margin-inline: auto;
}

.form-textarea {
  max-height: 250px !important;
}

.form-textarea,
.form-input {
  border-bottom: 1px solid var(--border-form) !important;
  /* --border-style: 1px solid var(--border-form) !important; */
}

ion-input .native-wrapper,
ion-textarea .native-textarea {
  /* --border-style: 1px solid var(--border-form) !important; */
  /* border: none;
  border-bottom: 1px solid #ccc !important;
  padding-bottom: 4px; */
}

.form-wrap button {
  font-size: 1.1rem;
  padding: 1rem !important;
  width: 60%;
  margin-bottom: 0.5rem;
  border-radius: 0.8rem;
}

.form-wrap button:first-of-type {
  color: white;
}

.form-wrap button:nth-of-type(2) {
  color: var(--text-color);
}

/* .tip-box-wrap {
  box-shadow: var(--form-box-shadow);
} */

.remove-counter-blinking * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

/* COUNTER TEXT AUTO SCROLL */
.scroll {
  position: relative;
  width: 100vw;
  /* height: 15%;
  min-height: 150px; */
  /* overflow: hidden; */
  z-index: 2;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes scrollText-ltr {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollText-ltr {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes scrollText-rtl {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes scrollText-rtl {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

.scroll-ltr {
  -webkit-animation: scrollText-ltr infinite linear;
  animation: scrollText-ltr infinite linear;
  animation-delay: 1.7s;
}

.scroll-rtl {
  -webkit-animation: scrollText-rtl infinite linear;
  animation: scrollText-rtl infinite linear;
  animation-delay: 1.7s;
}

.single-counter-text-wrap {
  height: 100%;
  white-space: nowrap;
  display: inline-block;
  /* overflow: hidden; */
  /* margin: 0; */
  /* font-size: 0; */
}

.scroll span {
  font-size: 1.5rem;
  display: inline-block;
  min-width: 100vw;
  margin: 0;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  /* -moz-appearance: textfield; */
}

.individual-section-wrap {
  color: var(--text-color);
  position: relative;
  background: var(--setings-page-boxes-bg-color);
  margin: 1rem auto 2rem auto;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: var(--settings-page-box-shadow);
  padding: 0.1rem 0;
}

.setting-bottom-border section:not(:last-child) {
  border-bottom: 1px solid var(--settings-page-borders);
}

/* .setting-bottom-border section:last-child {
  border-bottom: 1px solid red !important;
  padding: 1rem;
} */

.theme-setting-wrap {
  border: none;
}

.theme-sheet-content-wrap {
  background-color: var(--body-bg-color) !important;
}

.notifications-options-heading-text {
  text-align: center;
  margin-block: 1rem;
  font-weight: 400;
}

.individual-notification-option-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.individual-notification-option-wrap:not(:last-child) {
  border-bottom: 1px solid var(--settings-page-borders);
}

.individual-notification-option-wrap:last-child {
  margin-bottom: 2rem;
}

.notificatiions-options-sub-text {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.individual-section-wrap ul li {
  list-style-type: none;
}

.icon {
  margin-right: 1rem;
}

.chevron {
  /* position: absolute;   */
  transform: scale(1.5, 1.5);
  right: 10px;
  color: #b5b5b5;
  /* transform: scale(0.2, 0.2); */
}

.individual-row-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .support-box-wrap {
  padding: 0 !important;
}

.support-box-text-wrap {
  display: block !important;
  padding: 0 !important;
}

.support-main-text-heading {
  font-size: 1.2rem;
}

.support-sub-text {
  font-size: 0.8rem;
  font-weight: 300;
}

.support-box-text-wrap p {
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}

.tip-box-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--body-bg-color);
  border-radius: 1rem;
}

.tip-jar-box-first-line-of-text {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.tip-jar-box-text {
  text-align: center;
  padding: 0 13px 22px 13px;
  color: #fff;
  line-height: 20px;
  width: 100%;
}

.tip-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 90%;
} */

#open-about-us-modal {
  border: none;
}

/* TOGGLE OVERRIDES AND STYLING ON SETTINGS PAGE */

.mt-ios {
  /* transform: scale(0.6, 0.6); */
  font-size: 8px;
}

.mt-ios label,
.mt-ios-blue label,
.mt-ios-red label {
  transition: 0.15s ease-in-out !important;
}

/* DEVICE SPECIFIC STYLES */

/* IOS */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */

  .counter-page-single-counter.active {
    -webkit-filter: drop-shadow(0 0 1px black);
    filter: drop-shadow(0 0 1px black);
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  /* .navbar-wrap {
    padding-bottom: 1rem;
  } */
}

/* LOADING ICON */

/* .lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} */

/* 
.lds-ripple {
  display: inline-block;

  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
} */
