* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  /* --body-bg-color: #f2f1f6; */
  /* --body-bg-color: #f4f4f4; */
  --body-bg-color: rgb(237, 237, 237);
  --svg-color: #757575;
  /* --header-and-nav-bg-color: #f4f4f4; */
  --header-bg-color: rgb(237, 237, 237);
  --nav-bg-color: #fff;
  --text-color-primary: #000;
  --text-color-secondary: #ffffff;
  --setings-page-boxes-bg-color: #f7f7f7;
  --settings-page-borders: #e3e3e3;
  --counters-page-single-counter-box-shadow: 0 8px 15px rgb(0 0 0 / 30%);
  /* --border-header-and-nav: #d5d5d5; */
  --border-header-and-nav: none;
  --border-form: #d5d5d5;
  --form-wrap-bg-color: #f4f4f4;
  --form-input-bg-color: #fbfbfb;
  --form-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
  --settings-page-box-shadow: 0 0px 5px 0 rgba(132, 132, 132, 0.2);
}

/* DARK MODE */

body.dark {
  /* Dark mode variables go here */
  --body-bg-color: #242424;
  --nav-bg-color: #000;
  --header-bg-color: #242424;
  --text-color-primary: #fff;
  --setings-page-boxes-bg-color: #2f2f2f;
  --settings-page-borders: #595959;
  --svg-color: #e1e1e1;
  --counters-page-single-counter-box-shadow: none;

  /* --border-header-and-nav: #747474; */
  --border-form: #747474;
  --border-header-and-nav: none;
  --form-wrap-bg-color: #2f2f2f;
  --form-input-bg-color: #3e3e3e;
  --form-box-shadow: none;
  --settings-page-box-shadow: none;
}

@font-face {
  font-family: Roboto;
  src: url(/src/font/Roboto-Regular.ttf);
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
  color: var(--text-color-primary);
  height: 100vh;
  width: 100vw;
  max-width: 700px;
  margin-inline: auto;
  /* font-family: Roboto, sans-serif; */
  font-family: sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--body-bg-color);

  /* padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left); */
  /* padding-top: constant(safe-area-inset-top); */
}

.body::-webkit-scrollbar {
  display: none;
}

/* MAIN PAGE */

/* @-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeInUp {
  /* 0% {
    opacity: 0;
    transform: translateY(10%);
  }

  25% {
    opacity: 0;
    transform: translateY(7%);
  }

  75% {
    opacity: 0;
    transform: translateY(3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  } */
}

@keyframes fadeInUp {
  /* 0% {
    opacity: 0;
    transform: translateY(10%);
  }

  25% {
    opacity: 0;
    transform: translateY(7%);
  }

  75% {
    opacity: 0;
    transform: translateY(3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  } */
}

.counter-type-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.counter-type-wrap h1 {
  margin-bottom: 1rem;
}

.reset-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.6rem;
  color: white;
  z-index: 2;
  font-size: 1.5rem;
  cursor: pointer;
}

.active-counter-name,
.active-counter-number {
  color: white;
}

.active-counter-name {
}

.active-counter-number {
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, 50%);
  color: black;
}

.counter-text-wrap {
  /* white-space: nowrap;
  z-index: 1; */
}

.increment-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 5rem auto;
  border-radius: 50%;
  line-height: 0vw;
  color: #ced4e2;
  z-index: 1;
  text-align: center;
  border: none;
  box-shadow: var(--counters-page-single-counter-box-shadow);
}

/* .increment-btn:active {
  background: red;
  box-shadow: 0px 0px 20px;
  font-size: 2rem;
} */

.increment-btn-number-and-target-wrap {
  color: #fff;
  margin-top: 4rem;
}

.increment-btn-number {
  font-size: 8rem;
}

.increment-btn-target {
  font-size: 1.5rem;
  margin-top: 5rem;
}

.fade-up-animation {
  -webkit-animation: fadeInUp 500ms ease-in forwards;
  animation: fadeInUp 500ms ease-in forwards;
}

.fade-down-animation {
  -webkit-animation: fadeInDown 1000ms ease-in forwards;
  animation: fadeInDown 1000ms ease-in forwards;
}

/* COUNTERS PAGE */

.counter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter-name-td {
  padding-left: 0.5rem;
}

.stats-and-icons-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.counter-page-single-counter {
  color: #fff0;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  height: 50px;
  transition: left 0.3s ease-in, box-shadow 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in, box-shadow 0.3s ease-in,
    -webkit-box-shadow 0.3s ease-in;
  /* animation: slideLeft 0.3s ease-in forwards;
  -webkit-animation: slideLeft 0.3s ease-in forwards; */
}

.counter-page-single-counter.active {
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(164 164 164 / 20%), 0 4px 8px 0 rgb(0 0 0 / 19%);
  -webkit-box-shadow: 0 4px 8px 0 rgb(164 164 164 / 20%),
    0 4px 8px 0 rgb(0 0 0 / 19%);
  padding: 3rem;
  left: 5px;
  transition: left 0.3s ease-in, box-shadow 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in, box-shadow 0.3s ease-in,
    -webkit-box-shadow 0.3s ease-in;
  /* animation: slideRight 0.3s ease-in forwards;
  -webkit-animation: slideRight 0.3s ease-in forwards; */
}

MdModeEditOutline {
  text-align: center;
}

@-webkit-keyframes slideRight {
  0% {
    box-shadow: 0;
    -webkit-box-shadow: 0;
    transform: translateX(0%);
  }

  100% {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(1.5%);
  }
}

@keyframes slideRight {
  0% {
    box-shadow: 0;
    -webkit-box-shadow: 0;
    transform: translateX(0%);
  }

  100% {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(1.5%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(1.5%);
  }

  100% {
    box-shadow: 0;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(1.5%);
  }

  100% {
    box-shadow: 0;
    transform: translateX(0%);
  }
}
.counter-page-single-counter.not-active {
  position: relative;
  left: 0px;
  transition: left 0.3s ease-in, box-shadow 0.3s ease;
}

.counters-wrap {
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20vh;
}

.single-counter-name-and-count-wrap {
  width: 85%;
  padding: 0.7rem 0;
}

.single-counter-name-and-count-wrap,
.edit-btn-wrap {
  position: relative;
  z-index: 1;
}

.single-counter-wrap-parent {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
}

.single-counter-wrap {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 95%;
  /* border-radius: 1rem; */
  box-shadow: var(--counters-page-single-counter-box-shadow);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  position: relative;
  /* padding: 0.7rem 0; */
  margin: 1rem auto;
  /* clip-path: circle(70% at 50% 50%); */
  clip-path: inset(0% 0% 0% 0% round 10px);
}

/* .single-counter-wrap::before {
  content: "";
  position: absolute;
  min-width: 5%;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background: blue;
} */

/* This style is to do with turning each counter into a progress bar */
.single-counter-overlay {
  position: absolute;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes counterWidthAnimation {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.width-animation {
  animation-name: counterWidthAnimation;
  animation-duration: 1s;
  animation-direction: forwards;
  overflow: hidden;
}

.single-counter-counter-name {
  /* margin-top: 1rem; */
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-counter-count {
  font-size: 0.7rem;
}

.single-counter-counter-name,
.single-counter-count {
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  /* font-weight: lighter; */
  font-weight: 400;
}

.edit-btn-wrap,
.reset-btn-wrap {
  margin: -1rem -0.7rem -1rem -1rem;
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
}

.reset-btn-wrap {
  font-size: 1.5rem;
  margin: -1rem -0.7rem -1rem -1rem;
  padding: 1rem 1.5rem;
  z-index: 1;
}

.add-btn {
  position: absolute;
  padding: 1rem;
  right: 10%;
  bottom: 12%;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.pop-up-box-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #5c6bc0;
  border-radius: 0.5rem;
}

.pop-up-box-wrap input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.pop-up-box-buttons-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.pop-up-box-buttons-wrap input {
  /* margin: 0.4rem; */
}

.pop-up-box-wrap button {
  color: #fff;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background: transparent;
}

.pop-up-box-buttons-wrap :nth-child(2) {
}

/* SETTINGS PAGE */

.settings-page-options-and-info-wrap {
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20vh;
}

.settings-page-header,
.counters-page-header,
.home-page-header {
  background: var(--header-bg-color);
  position: relative;
  height: 7vh;
  color: var(--text-color-primary);
  border-bottom: 1px solid var(--border-header-and-nav);
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

.settings-page-header p,
.counters-page-header p,
.home-page-header p,
.counters-page-header svg {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
}

.counters-page-header p,
.settings-page-header p,
.home-page-header p {
  left: 50%;
  transform: translate(-50%, -50%);
}

.counters-page-header svg {
  font-size: 1.5rem;
  width: 15%;
  right: 28px;
  transform: translate(50%, -50%);
  height: 100%;
  width: 18%;
  padding: 0 1.2rem 0 1.2rem;
}

.theme-options-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--form-wrap-bg-color);
  border-radius: 2rem;
  overflow: hidden;
}

.theme-options-wrap div {
  padding: 1.5rem;
  width: 100%;
  text-align: center;
}

/* NAVBAR */

.navbar-wrap {
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-header-and-nav);
  box-shadow: 10px 5px 5px rgb(177, 177, 177);
  background: var(--nav-bg-color);
  z-index: 1;
}

.navbar svg {
  font-size: 1.5rem;
}

.nav-link {
  /* color: var(--text-color); */
  text-decoration: none;
  text-align: center;
  padding: 1rem 3rem 0.5rem 3rem;
}

.nav-icon {
  font-size: 1.5rem;
  /* fill: var(--text-color); */
}

.target-text {
  position: absolute;
  left: 50%;
  font-size: 0.7rem;
  top: 131%;
  transform: translateX(-50%);
  color: var(--svg-color);
  z-index: 1;
}

/* FORMS */

Modal {
}

input[type="text"],
input[type="number"] {
  padding: 1rem;
  background: var(--form-input-bg-color);
  color: var(--text-color);
}

.form-wrap {
  background: var(--form-wrap-bg-color);
  padding: 0.5rem 0 0 0;
  border-radius: 1.5rem;

  /* height: 100%; */
  display: block;
  overflow: auto;
  width: 100%;
  margin-inline: auto;
  overflow: scroll;
  font-size: 0.8rem;
}

.form-wrap,
.theme-options-wrap {
  box-shadow: var(--form-box-shadow);
}

.form-filled-icons-wrap {
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid var(--border-form); */
}

.form-filled-icons-wrap svg {
  padding: 4px;
  font-size: 2rem;
}

.form-blank .save-btn {
  margin-inline: unset;
}

.form-blank input {
  width: 100%;
  margin: 0 0 0.2rem 0;
}

.form-blank .save-btn {
  width: 90%;
  margin-inline: auto;
}

.form-blank-counter-name-input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form-blank-counter-name-input-wrap p {
  margin: 1rem auto;
}

.form-blank-counter-name-input-wrap input {
  width: 80%;
}

.form-filled-counter-name-input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto 0rem auto;
  width: 100%;
  text-align: center;
}

.form-filled-dhikr-name-and-reset-icon-wrap {
  display: flex;
}

.form-filled-dhikr-name-and-reset-icon-wrap p {
  text-align: center;
}

.form-filled-reset-icon {
  margin-bottom: 2rem;
}

.form-input {
  border-radius: 0.8rem;
}

.form-filled-name-input {
  width: 95%;
  margin-inline: auto;
}

.form-filled-name-input,
.count-and-target-input-wrap {
  display: flex;
}

.current-count-input-wrap input,
.target-input-wrap input {
  width: 90%;
}
.current-count-input-wrap,
.target-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-name-input-wrap p,
.target-input-wrap p,
.current-count-input-wrap p,
.form-filled-dhikr-name-and-reset-icon-wrap p,
.form-filled-counter-name-input-wrap p {
  text-align: center;
  margin: 1rem 0 0.5rem 0;
  /* font-size: 0.8rem; */
}

.form-wrap input {
  border: none;
  text-align: center;
  margin-inline: auto;
}

.form-blank p {
  font-size: 0.7rem;
}

.form-blank-save-btn,
.form-filled-save-btn {
  /* background-color: #6060ff; */
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

.form-alert-styles {
  margin: 0.5rem 0;
  color: red;
  font-size: 0.7rem;
}

.form-show-alert {
  visibility: visible;
}

.form-hide-alert {
  visibility: hidden;
}

.delete-btn {
  background: #f44336;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}

.pop-up-box-buttons-wrap-border {
  border: 1px solid rgb(223, 223, 223);
  margin: 2rem 0 2rem 0;
}

.remove-counter-blinking * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.reset-and-save-btn-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid rgb(216, 216, 216); */
}

.reset-and-save-btn-wrap input {
  width: 45%;
}

.reset-btn {
  /* background-color: #f4f4f4; */
  color: #000;
}

.form-filled input {
  padding: 1rem;
}

/* COUNTER TEXT AUTO SCROLL */
.scroll {
  position: relative;
  width: 100vw;
  /* height: 15%;
  min-height: 150px; */
  /* overflow: hidden; */
  z-index: 2;
  margin: 0;
  padding: 0;
}

.m-scroll {
  /* overflow: hidden; */
  height: 100%;
  white-space: nowrap;
  -webkit-animation: scrollText 6s infinite linear;
  animation: scrollText 6s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
}

.scroll span {
  font-size: 1.5rem;
  display: inline-block;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  color: white;
}

@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.hide-overflow {
  overflow: hidden;
}
.show-overflow {
  overflow: unset;
}

/* SETTINGS PAGE */

.settings-page-wrap,
.counters-page-wrap,
.main-page-wrap {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow-x: hidden;
  padding-bottom: 20vh;
}

.individual-section-wrap {
  color: var(--text-color-primary);
  position: relative;
  background: var(--setings-page-boxes-bg-color);
  margin: 1rem auto 2rem auto;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: var(--settings-page-box-shadow);
  padding: 0.1rem 0;
}

.individual-section-wrap div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  /* padding: 1rem; */
  /* padding: 0.5rem 0.5rem; */
  margin: 0.5rem 0.5rem;
}

.theme-wrap {
  margin-top: 3rem;
}

.haptic-wrap,
.review-wrap,
.share-wrap,
.feedback-wrap,
.source-code-wrap {
  /* border-bottom: 1px solid #eaeaea;  */
  border-bottom: 1px solid var(--settings-page-borders);
}

.individual-section-wrap ul {
}

.individual-section-wrap ul li {
  list-style-type: none;
}

.icon {
  margin-right: 1rem;
}

.text-wrap {
  align-self: center;
  color: var(--text-color-primary);
}

.text-wrap p {
  font-size: 0.8rem;
  font-weight: 300;
}

.text-wrap p:first-of-type {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.chevron {
  /* position: absolute;   */
  transform: scale(1.5, 1.5);
  right: 10px;
  color: #b5b5b5;
  /* transform: scale(0.2, 0.2); */
}

.icon-and-text-wrap {
  padding: 0 !important;
}

.individual-row-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TOGGLE OVERRIDES AND STYLING ON SETTINGS PAGE */

.mt-ios {
  /* transform: scale(0.6, 0.6); */
  font-size: 8px;
}

.mt-ios label,
.mt-ios-blue label,
.mt-ios-red label {
  transition: 0.15s ease-in-out !important;
}

/* MODAL */

.ReactModal__Overlay {
  opacity: 0;
  /* transform: translateY(600px); */
  transition: all 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 1;
  /* transform: translateY(0px); */
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  /* transform: translateY(-600px); */
}

/* DEVICE SPECIFIC STYLES */

/* IOS */
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .navbar-wrap {
    /* padding-bottom: env(safe-area-inset-bottom); */
  }
  .counter-page-single-counter {
  }
  .counter-page-single-counter.active {
    -webkit-filter: drop-shadow(0 0 1px black);
    filter: drop-shadow(0 0 1px black);
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .navbar-wrap {
    padding-bottom: 1rem;
  }
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background-color: #4bd763;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

/* .ReactModal__Body--open {
  background: 50px 50px 50px rgba(62, 62, 62, 0.84) !important;
} */
